@meta charset "UTF-8";


html {font-size:10px;}
body {
    min-height:100vh;
    margin:0;
    background:repeating-linear-gradient(white, white 23px, #fafafa 23px, #fafafa 24px);
    font:1.6rem/1.5 "Open Sans";
    font-weight:400;
    letter-spacing:-0.003em;
    color:#585858;
}
p {
    margin-bottom:48px;
}
h2 {
    margin-bottom:72px;
    font-weight:400;
    font-size:4.2rem;
    line-height:4.8rem;
    color: #fff;
}

.visualWrap {
    position:relative;
    width:100%;
    height:360px;
    background:url("../images/bg_dark.png"), 
               url("../images/bg_header.jpg");
    background-size: cover;
    z-index:1;
}


.header {
    position:absolute;
    top:0;
    left:50%;
    margin-left:-400px;
    margin-top:72px;
    text-align: center;
    width:800px;
    height:230px;
    z-index:2;
}


a[href]:link {
    display:inline-block;
/*    margin-top: 80px;*/
    border:2px solid aqua;
    color:aqua;
    padding:0.82em 2.25em 0.875em;
    font-size: 1.8rem;
    font-weight:bold;
    text-decoration: none;
/*    text-transform: uppercase;*/
    transition: all 0.2s ease-in-out;
}
a[href]:visited {
    border:2px solid aqua;
    color:aqua;
}
a[href]:hover {
    background:aqua;
    border-color: aqua;
    color:#010101;
}
a[href]:active {
    background:#010101;
    border-color: deepskyblue;
    color:deepskyblue;
}

.main {
    margin:48px auto 96px;
    width:800px; 
}
.main img {
    float:left;
    height:360px;
    width:auto;
    margin:7px 28px 0 0;
    vertical-align:bottom;
}
.main p::first-letter {
    font-size:42px;
    font-weight:700;
    float:left;
    margin:-9px 13px -7px 0;
}

























