@charset "utf-8";
/*! page.css © hw0507, 2017 */

/**
 * --------------------------------
 * page-header
 * #26d092
 * 24px * 3 = 72px
 * ----------------------------- */
.page-header {
  min-height: 72px;
  background: #26d092;
}

.page-header .brand {
  font-family: "Apple Chancery";
  font-size: 1.875rem;
  letter-spacing: -0.025em;
}

.brand a {
  display: block;
  margin-top: 21px;
  text-decoration: none;
  color: #fff;
}

.gnb {
    float:right;
    margin-top:26px;
    position:relative;
    right:-30px;
}
.gnb ul {
}
.gnb ul::after {
    content:'';
    display:block;
    clear:both;
}
.gnb li {
    float:left;
}
.gnb li + li {
    margin-left:35px;
}
.gnb a {
    text-decoration: none;
    font-size:22px;
    color:#fff;
    display:block;
}

.header-img {
    height:336px;
    background: #ffdedf;
}
.btn {
    height:96px;
}









