@charset "UTF-8";

* {
    margin:0;
    padding:0;
}
html {
    overflow-y: hidden;
  }
img {
    vertical-align:top;
}

.wrap {
    position: relative;
    overflow: hidden;
    transform: scale(0.6) translateY(-320px);
    width:700px;
    height:1000px;
    margin:0 auto;
    border:1px solid #bdbdbd;
}

.part_contents {
    width:382px;
    margin:79px 0 0 37px;
}

.part_contents .heroine {
    position: relative;
    height:25px;
    padding-left:30px;
    opacity:0;
    transition:all 0.2s ease-in-out;
    left:-450px;
}

.part_contents .heroine img:nth-child(2) {
    margin-left:4px;
}

.part_contents .title {
    position:relative;
    margin-top: 79px;
    width:382px;
    height:471px;
}
.part_contents .title img {
    position:absolute;
}
.part_contents .title img:nth-child(1) {
    opacity:0;
    top:-100px;
    transition:all 0.4s cubic-bezier(0,1.13,.52,1.18) 0.2s;
}
.part_contents .title img:nth-child(2) {
    left:56px;
    top:-80px;   /* top:114px; */
    opacity:0;
    transition:all 0.4s cubic-bezier(0,1.13,.52,1.18) 0.3s;
}
.part_contents .title img:nth-child(3) {
    left:20px;
    top:140px;    /* top:240px; */
    opacity:0;
    transition:all 0.4s cubic-bezier(0,1.13,.52,1.18) 0.5s;
}
.part_contents .title img:nth-child(4) {
    left:0;
    top:258px;   /* top:358px; */
    opacity:0;
    transition:all 0.4s cubic-bezier(0,1.13,.52,1.18) 0.7s;
}
.part_contents .title img:nth-child(5) {
    right:111px;
    bottom:6px;
    transform:scale(10);
    opacity:0;
    transition:all 0.2s ease-out 1.55s;
}

.part_contents .add {
    position: relative;
    margin-top:81px;
    opacity:0;
    left:-450px;
    transition:all 0.4s ease-in-out;
}
.part_contents .add img + img {
    margin-top:18px;
}

.part_contents .copy {
    position: relative;
    margin:19px 0 50px -1px;
    opacity:0;
    left:-450px;
    transition:all 0.5s ease-in-out;
}

.part_image {
    position:absolute;
    right:0;
    top:20px;
    opacity:0;
    transition:all 0.55s ease-in 0.6s;
}






/* State Design */

.wrap.fin .part_contents .heroine,
.wrap.fin .part_contents .add,
.wrap.fin .part_contents .copy,
.wrap:hover .part_contents .heroine,
.wrap:hover .part_contents .add,
.wrap:hover .part_contents .copy {
    opacity:1;
    left:0;
}

.wrap.fin .part_contents .title img:nth-child(1),
.wrap:hover .part_contents .title img:nth-child(1) {
    opacity:1;
    top:0;
}
.wrap.fin .part_contents .title img:nth-child(2),
.wrap:hover .part_contents .title img:nth-child(2) {
    opacity:1;
    top:114px;
}
.wrap.fin .part_contents .title img:nth-child(3),
.wrap:hover .part_contents .title img:nth-child(3) {
    opacity:1;
    top:240px;
}
.wrap.fin .part_contents .title img:nth-child(4),
.wrap:hover .part_contents .title img:nth-child(4) {
    opacity:1;
    top:358px;
}
.wrap.fin .part_contents .title img:nth-child(5),
.wrap:hover .part_contents .title img:nth-child(5) {
    opacity:1;
    transform:scale(1);
}


.wrap.fin .part_image,
.wrap:hover .part_image {
    opacity:1;   
}








