@charset "utf-8";

.headline { font-weight: 900; line-height: 1; }
.headline .is-1 {background: hsla(0, 59%, 54%, 1);}
.headline .is-2 {background: hsla(30, 59%, 54%, 1);}
.headline .is-3 {background: hsla(60, 59%, 54%, 1);}
.headline .is-4 {background: hsla(90, 59%, 54%, 1);}
.headline .is-5 {background: hsla(120, 59%, 54%, 1);}
.headline .is-6 {background: hsla(150, 59%, 54%, 1);}
.hairline {font-weight: 100;}

.is-romatic {
  font-family: "Iropke Batang";
  font-size: 2.1rem;
  font-weight: normal;
}