@charset "UTF-8";
/* ! style.css @ hw0507, 2017 */

/* reset css */
* {margin:0; padding:0;}
html {font-size: 10px;}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
    font-size:1em;
}
a {outline:0; text-decoration:none;}
ol, ul {list-style:none;}
em, strong {font-style:normal;}
img {border:none;}
/* reset end */

body {
    background: url("../images/guide_21px.png");
    font-size: 1.4rem;
    font-family: "Spoqa Han Sans";
    font-weight:400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color:#333741;
}
p {
    margin-top:0;
    margin-bottom:1.5em;
}
h1, h3, h5, h6 {
    margin-top:0;
    margin-bottom:2.1rem;
    letter-spacing:-0.05em;
}
h1, h3 {font-weight:200;}
h1 {font-size:5.463rem; line-height:6.3rem;}
h3 {font-size: 3.169rem; line-height:4.2rem;}
h5 {font-size:1.838rem; line-height: 2.1rem;}
h6 {font-size:1.563; line-height:2.1rem;}

.container {
    width:820px;
    padding:84px 0;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin-bottom:calc(4.2rem - 5px);
}
.header h5 {
    color:#787f94;
}
.header img {
    width:819px;
    height:356px;
}

.main section + section {
    margin-top: 6.3rem;
}
.main ol span {
    color:#787f94;
    font-weight:bold;
}
.main ul li p:first-child {
    font-weight:bold;
}


.footer {
    margin-top:6.3rem;
}
.footer h5 {
font-size: 1.4rem;
text-align:right;
margin-top: 2.1rem;
}