@meta charset "UTF-8";


html {font-size:10px;}
body {
    min-height:100vh;
    margin:0;
    background:repeating-linear-gradient(white, white 23px, skyblue 23px, skyblue 24px);
    font:1.6rem/1.5 "Nanum Barun Gothic";
    letter-spacing:-0.005em;
    color:#272727;
}
p {margin:0 0 2.4rem 0;}
h1, h2, h3 {
    margin:0 0 2.4rem 0;
    font-weight:400;
}
h1 {
    font-weight:300;
    font-size:4.875rem;
    line-height:7.2rem;
}
h2 {
    font-size:3.124rem;
    line-height:4.8rem;
}
h3 {
    font-size:2rem;
    line-height:2.4rem;
}
ul {
    margin: 0;
    padding-left:0;
    list-style-type: none;
}
li {margin-bottom:2.4rem;}
img {
    vertical-align:bottom;
    margin-bottom:2.4rem;
}


.container {
    width:100%;
    background:url("../images/bg_header.jpg") no-repeat; 
    width:960px;
    margin: 0 auto;
}
.container > div {
    width:740px;
    margin:0 auto 4.8rem;
}

.header {
    padding-top:28.8rem;
}
.header h1 {
    margin-bottom: 7.2rem;
    color:#fff;
}

.main h2 {
    text-align: center;
}
.main .section:first-child {
    margin-bottom: 4.8rem;
}
.main .section:nth-child(2) {
    background:url('../images/bg_wine.jpg') no-repeat right bottom;
    background-size:260px auto;
}
.main .section:nth-child(2) h3 {
    color:#957662;
}













