.column {
    margin-bottom:2rem;
    padding:3rem;
    background:#aaa;
}

@media only screen and (min-width:600px) {
    .column {
        float: left;
        width: 50%;
        padding: 1rem;
        background-clip: content-box;
    }
}

@media only screen and (min-width:960px) {
    .column {
        width: 25%;
    }
}