ul {
    margin-top: 0;     /* ul 기본설정 */
    margin-bottom: 0;  /* ul 기본설정 */
    padding-left: 0;   /* ul 기본설정 */
    list-style: none;  /* ul 기본설정 */
}
ul li + li {
    margin-top: 10px;
}


.custom-radio {
    position:relative;
}

.custom-radio input {
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
label {
    margin-left: 5px;
}

/* 라디오 버튼이 체크되지 않은 상태의 아이콘 이미지 */
.custom-radio input + .icon-radio {
    margin-left: -1px;
    vertical-align: -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/icon-radio-deactive.png') no-repeat;
}

/* 라디오 버튼이 체크된 상태의 아이콘 이미지 */
.custom-radio input:checked + .icon-radio {
    background-image: url('../images/icon-radio-active.png');
}

ul li:nth-child(2) .custom-radio input + .icon-radio {
    background: url('../images/icon-sprites.png') ;
    background-position:-21px -3px;
}
ul li:nth-child(2) .custom-radio input:checked + .icon-radio {
    background: url('../images/icon-sprites.png') ;
    background-position:0px -3px;
}