body {
    margin: 0;
}
.parent-box {
    height: 100vh;
    border:10px solid #ccc;
    position:relative;
    box-sizing:border-box;
}

.box {
    width:400px;
    height: 280px;
    color: #fff;
    text-align: center;
    line-height: 180px;
    position:absolute;
}
.box:nth-child(1) {
    background: deeppink;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }
.box:nth-child(2) {
    background: deepskyblue;
    right:0;
    top: 0;
    }
.box:nth-child(3) {
    background: darkorange;
    right: 0;
    bottom: 0;
    }
.box:nth-child(4) {
    background: yellowgreen;
    left:0;
    bottom:0;
    }