/*! page.profile.css © hw0507, 2017 */

/* =Typography */
body {
  font-family: "Dosis", "Helvetica Neue", Arial, Sans-Serif;
  line-height: 1.5;
    background:linear-gradient(0deg, rgba(125,81,255,0.6), rgba(125,81,255,0)),
               url("../images/photo@0.5x.jpg");
    background-size: 100vw 100vh, 
                     cover;
}
.button {
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
}
.link {
    text-decoration: none;
}
.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}



.top-bar {
    padding-top: 10px;
}
.top-bar .button {
    width: 100%;
    height: 60px;
/*    background-color: hsla(0, 0%, 100%, 0.2);*/
    text-align: center;
}
.top-bar .button img {
    width:1.8rem;
    height: auto;
}

.user-info {
    margin-top: 19rem;
}

.user-name {
    font-size: 5rem;
    line-height: 1;
    color: #fff;
    font-weight: 400;
}

.user-info-link a {
    color: #fff;
    text-decoration: none;
}
.user-info-link .is-favorite {
    font-size: 1.4rem;
    font-weight:900;
    letter-spacing:0.033em; 
}
.user-info-link .is-show-more {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.045em;
}

.user-cardlist {
    margin-top: 2rem;
}
.user-cardlist li {
    position: relative;
}
.user-cardlist li:first-child {
    z-index: 30;
}
.user-cardlist li:nth-child(2) {
    z-index: 20;
    top:-160px;
    left:10px;
}
.user-cardlist li:nth-child(3) {
    z-index: 10;
    top:-325px;
    left:20px;
}

.user-card .is-product {
    position:absolute;
    color: #fff;
    font-weight: 400;
    top:75px;
    left: 16px;
}

.user-card .is-price {
    position:absolute;
    color: #555656;
    left: 16px;
    top:118px;
}
.user-card .is-favorites {
    position: absolute;
    top: 14px;
    right: 22px;
}





/* HiDPI Design */
/* CSS3 미디워쿼리 활용 - 레티나 디스플레이 대응 */
/*
 * 고해상도 디스플레이(@2x)
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)     ,
only screen and (   min--moz-device-pixel-ratio: 2)     ,
only screen and (     -o-min-device-pixel-ratio: 2/1)   ,
only screen and (        min-device-pixel-ratio: 2)     ,
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(0deg, rgba(125,81,255,0.6), rgba(125,81,255,0)),
                        url("../images/photo@0.5x.jpg");
  }
}
