.dropcap {
    width: 50%;
}
/*
.dropcap span {
    float: left;
    margin-right: 10px;
    color: red;
    font-size: 30px;
    font-weight: 900;
}*/


.dropcap::first-letter {
    float: left;
    margin-right: 10px;
    color: red;
    font-size: 30px;
    font-weight: 900;
}